html, body{
  background-color:#e3b5a4;
  color:#f5e9e2;
  font-family: 'Open Sans', sans-serif !important;
  text-align:center;
  margin:0;
}

@media{mi-width:570ox}{.container[min-eih]}

.container{
   background-color:#d44d5c;
  border: solid 2px #773344;
  color:white;
  overflow:auto;
  display:block;
  min-height: 700px;
  width:40%;
/*   display:flex;
  align-items:center;
  justify-content:center;
 
  min-height:100vh;
  width:50%; */
/*   margin: 0 auto;
  box-sizing:border-box;
  color:white;
 */
}

section.content{
  flex:1;
}

/* input, textarea, #dropdown{
  border:2px solid #ee;
  padding: 10px;
  margin: 50px 0 0 0;
  width:80%;
  border-radius:5px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  float:clear;
} */
